<ul class="site-nav">
  <li class="site-nav__item site-nav__item--home">
    <a href="{{@file.rootpath}}.">Zdog</a></li>
  <li class="site-nav__item site-nav__item--getting-started">
    <a href="{{@file.rootpath}}getting-started">Getting started</a></li>
  <li class="site-nav__item site-nav__item--modeling">
    <a href="{{@file.rootpath}}modeling">Modeling</a></li>
  <li class="site-nav__item site-nav__item--api">
    <a href="{{@file.rootpath}}api">API</a></li>
  <li class="site-nav__item site-nav__item--shapes">
    <a href="{{@file.rootpath}}shapes">Shapes</a></li>
  <li class="site-nav__item site-nav__item--extras">
    <a href="{{@file.rootpath}}extras">Extras</a></li>
</ul>
